doctype html
html(lang="en")
   include includes/head.pug

   //- Variables
   - var title = '短期遊學', abstract = '#累積人生經驗值# 短期進修#重新出發'
   -
      var heroes = [
         './img/Banner.png',
      ]

      var popularClass = [
         './img/popular-class/1.jpg',
         './img/popular-class/2.jpg',
         './img/popular-class/3.jpg',
         './img/popular-class/4.jpg',
         './img/popular-class/5.jpg',
         './img/popular-class/6.jpg',
         './img/popular-class/7.jpg',
         './img/popular-class/8.jpg',
      ]

      var countryPics = [
         './img/popular-countries/country_uk_image.jpg',
         './img/popular-countries/country_ca_image.jpg',
         './img/popular-countries/country_us_image.jpg',
         './img/popular-countries/country_au_image.jpg',
         './img/popular-countries/country_ir_image.jpg',
         './img/popular-countries/country_ph_image.jpg',
         './img/popular-countries/country_ma_image.jpg',
         './img/popular-countries/country_nz_image.jpg',
      ]

   - var featureListTitle = ['1:1 免費諮詢', '最高30%學費優惠', '留遊學手冊免費索取', '最高1萬3機票補助', 'LINE線上諮詢', '24 小時在地支援']
   - var iconWidth = [30, 32, 30, 30, 30, 30]
   - var iconHeight = [32, 32, 32, 30, 30, 30]

   - var serviceTitle = ['20 個 ed:m 海外辦事處', '學費保障制度', '可信賴的專業服務', '留遊學規劃諮詢']

   - var serviceInfo = ['分佈於倫敦、紐約、溫哥華、雪梨等全球主要城市', '財務金流安全掛保證的ed:m', '19年留遊學諮詢經驗，累積服務過4萬名學生', '專業教育顧問提供每位學生客製化的最佳升學方案']

   body
      main.wrap
         .home-hero
            .swiper-container
               .swiper-wrapper
                  - for (var x = 0; x < heroes.length; x++)
                     .swiper-slide(style=`background-image: url(${heroes[0]})`)
                        .hero-text
                           h1 #[span Pick!] #{title}
                           p #{abstract}
               .swiper-pagination

         .content
            .feature-list
               - for (var x = 0; x < 6; x++)
                  .feature-guide-single.m-b-xs
                     svg(
                        width=iconWidth[x]
                        height=iconHeight[x]
                     )
                        mixin icon(path, filename, type, width, height)
                           if type !== 'svg'
                              img(src=`${path}/${filename}.${type}` width=width height=height)
                           else
                              image(
                                 xlink:href = `${path}/${filename}.${type}`
                                 width=width
                                 height=height
                              )
                        +icon('img/icon/feature-list', x+1, 'svg', iconWidth[x], iconHeight[x])
                        .feature-title #{featureListTitle[x]}

            .service-intro.m-x-lg
               .info-box.m-y-lg
                  h1 永遠把學生需求擺在第一位的 #[span ed:m]
                  p ed:m掌握每位學生的學習需求並鼓勵其不斷追尋自己的夢想，立志於透過豐富的諮詢服務經驗，提供提供整合性的客製化諮詢及學生服務
               button 瞭解更多

            .service-grid.flex-container.m-y-lg
               - for (var x = 0; x < 4; x++)
                  .flex-item
                     .flex-inner
                        +icon('img/icon/service-grid', x+1, 'png',null, 70)
                        label #{serviceTitle[x]}
                        p #{serviceInfo[x]}

            .popular-class.flex-container
               -
                  var titleInfos = [
                     {title: "ed:m 精選學校優惠", info: "優惠滿載，開心出發去遊學"},
                     {title: "PICK! 短期留學", info: "#累積人生經驗值# 短期進修#重新出發"},
                     {title: "English + 小確幸遊學英語+專長/興趣學習", info: "#小確幸遊學#英學習語#我的興趣"},
                     {title: "遊學人氣城市TOP4", info: "#加拿大遊學打工#專業證照 + 實習"},
                     {title: "有薪實習企劃展", info: "#用心感受#體驗生活"},
                     {title: "加拿大2年制學院入學攻略", info: "#職涯增值 #畢業後工作簽證計劃"},
                     {title: "企業實習 in 美國矽谷", info: "#實用性 #職業導向 # 企業實習 # 有薪工作(OPT)"},
                     {title: "愛爾蘭 | 打工遊學課程", info: "#半工半讀#體驗生活#環歐旅行"},
                  ]
               h1.m-x-lg 精選課程
               - for (var x = 0; x < popularClass.length; x++)
                  .flex-item.bg-cover(style=`background-image: url(${popularClass[x]})`)
                     .overlay.darken
                        .flex-inner
                           label #{titleInfos[x].title}
                           hr
                           p #{titleInfos[x].info}


            .popular-country.flex-container.m-y-lg
               -
                  var country = [
                     '英國留學',
                     '加拿大留學',
                     '美國留學',
                     '澳洲遊學',
                     '愛爾蘭遊學',
                     '菲律賓遊學',
                     '馬爾他遊學',
                     '紐西蘭遊學',
                  ]

                  var countryList1 = ['即刻預約諮詢','ed:m 精選學校優惠' ,'遊學人氣城市TOP4']
                  var countryList2 = ['即刻預約諮詢','ed:m 精選學校優惠' ,'有薪實習企劃展']
                  var countryList3 = ['即刻預約諮詢','ed:m 精選學校優惠' ,'PICK! 短期留學']
                  var countryList4 = ['即刻預約諮詢','PICK! 短期留學','English+ 小確幸遊學',]
                  var countryList5 = ['即刻預約諮詢','ed:m 精選學校優惠','打工度假語言研修 ']
                  var countryList6 = ['即刻預約諮詢']
                  var countryList7 = ['即刻預約諮詢','PICK! 短期留學']
                  var countryList8 = ['即刻預約諮詢','PICK! 短期留學','English+ 小確幸遊學']

                  var countryLists = [
                     countryList1,
                     countryList2,
                     countryList3,
                     countryList4,
                     countryList5,
                     countryList6,
                     countryList7,
                     countryList8
                  ]

               h1.m-x-lg.m-t-2 熱門國家
               - for (var x = 0; x < country.length; x++)
                  .flex-item.bg-cover(style=`background-image: url(${countryPics[x]})`)
                     .overlay.brighten
                        .flex-inner
                           label #{country[x]}
                           p
                           each item in countryLists[x]
                              a(href='#!')
                               li= item

            .global-office.flex-container.center
                  h1.m-x-lg.m-t-2 We Provide Global Support
                  .flex-item
                        .flex-inner
                              label 12
                              p 海外辦事處
                  .flex-item
                        .flex-inner
                              label(style="margin-left:12px;") 3000+
                              p 合作學校
                  .flex-item
                        .flex-inner
                              label 20
                              p 年代辦經驗
                  .flex-item
                        .flex-inner
                              label(style="margin-left:12px;") 40000+
                              p 海外學子見證
                  img(src="img/map.svg", alt="")


            .student-share
                  -
                        var studentH1 = [
                              '出國前受到很多ed:m的幫助',
                              '現在正在 Kaplan Bournemouth分校遊學',
                              '在UW IELP上課到現在的心得是課程整體的品質很好',
                              '目前就讀 St. Giles International London Central',
                              '目前就讀於Stafford House的 Toronto North York',
                              '現在在Vancouver ILSC遊學中'
                        ]
                        var studentP = [
                              '出國前受到很多ed:m的幫助，現在我順利地來到紐約遊學～我很高興自己選擇了EC，在這裡認識了各國的朋友，每天都用英文聊天，很明顯地能感受到自己的進步！如果你現在正在準備出國或猶豫要不要去遊學的話，我想分享的是我很慶幸選擇了ed:m，在第一次申請簽證沒有通過，以為自己沒辦法出國，非常沮喪的時候，顧問鼓勵我並耐心地協助我處理接下來的事情，所以我現在才能來到紐約享受我的遊學生活，而且ed:m的紐約辦事處在安頓日常生活上也幫助我很多，真的很謝謝ed:m！！',
                              '大家好，我現在正在 Kaplan Bournemouth分校遊學，老師非常的親切，總是很關心我的學習進度，而且放學回家後還可以登入我們學校自己的app K+tool來做Reading, Listening, Voca, Grammar 等等科目的延伸學習，課程上和師資都讓我非常滿意！還有一點值得推薦的是這裡的課後活動非常多樣，有下午茶時間、舞蹈教室或攝影、運動等等的選擇，我自己非常喜歡立槳衝浪挑戰，大家一定要來試試看！',
                              '在UW IELP上課到現在的心得是課程整體的品質很好，很多學生是預計去UW 讀研究所，年齡層和知識水準較高的，課後老師的回饋也非常的即時，像是托福作業的回饋會以錄音的方式提供，並針對我的發音，文法構造和需要增加的部分給予建議，讓我可以馬上修正並加強。在大學校園裡遊學對我來說真的是個很有趣的體驗，推薦西雅圖的University of Washington給大家',
                              '我目前就讀 St. Giles International London Central，因為我偏好在市區生活，所以選擇了位於倫敦的London Central分校， St. Giles倫敦位在同一棟建築物，有700名左右的學生，算是頗有規模的語言機構。St. giles的老師教學方式都很活潑，像我非常喜歡照片裡老師的教法，就算是理論的部分也會想辦法用例子來說明，讓大家可以較簡單的理解並實際活用，每次上課都很有趣，一點都不無聊～',
                              '大家好～不知不覺也已經來到Toronto四個月了呢，我目前就讀於Stafford House的 Toronto North York，學校裡的設施很完善，老師和行政人員非常親切，而且交通也便利，搭地鐵就可以抵達。我選校的時候非常在意國籍比例，但這裡有巴西、哥倫比亞、西班牙和波蘭等等各國的學生，國籍比例分布非常平均，整個校區也很嚴格實施English Only的規定，整體的學習氣氛非常好。雖然出發之前我真的很擔心，但結果證明是杞人憂天，哈哈，我真的很滿意我在Stafford House Toronto 的生活！',
                              '我現在在Vancouver ILSC遊學中～當時因為ILSC提供了像大學般多樣的課程選擇而決定來這裡，在ILSC可以依照自己的需求去選擇 Communication, Academic, Business English等等。我想多多和外國朋友練習對話，所以選了Communication和 Conversation，在課堂上和各國朋友交流文化的過程真的很有趣，而且跟其他學校比起來ILSC的課外活動也非常多樣，整體來我真的很滿意ILSC！',
                        ]

                        var studentP2 = [
                              'CHIN,HUI-EN',
                              'LI,HSIU-YEN',
                              'LI,CHU-HIS',
                              'CHIN,SHU-YUN',
                              'CHIN,HSIAO-EN',
                              'LI,HAN-FEI',
                        ]

                        var studentP3 = [
                              'EC English Language Centres, New York',
                              'Kaplan International English, Bournemouth',
                              'University of Washington (UW)',
                              'St. Giles International, London Central',
                              'Stafford House Canada, Toronto',
                              'International Language Schools Canada(ILSC), Vancouver',
                        ]

                  .swiper-container
                        .swiper-wrapper
                              - for (var x = 0; x < studentH1.length; x++)
                                    .swiper-slide
                                          .p-x-lg
                                                h1 #{studentH1[x]}
                                                p #{studentP[x]}

                                                p #{studentP2[x]} <br> #{studentP3[x]}
                        .swiper-pagination
                  img(src="img/student-review.jpg", alt="")
            .contact-us.flex-container.m-x-lg
                  .box.flex-item.bg-cover(style='background-image: url(./img/contact1.jpg)')
                     .overlay.darken
                        .flex-inner
                              h2 專屬於您的 1:1 免費諮詢
                              p ed:m 的教育顧問EC(Education Consultant)透過豐富的諮詢經驗，針對每個學生的需求，提供最即時且專業的升學或進修規劃
                  .box.flex-item.bg-cover(style='background-image: url(./img/contact2.jpg)')
                     .overlay.darken
                        .flex-inner
                              h2 留遊學指南免費申請
                              p 從學校推薦到在地生活大小事！為了讓每位學生能更有效率的規劃海外進修，ed:m集合了各種必需資訊編纂為一本留遊學指南，提供免費申請及郵寄服務
            .footer
                  .flex-container
                        .flex-item
                              .flex-inner
                                    img(src="img/icon/footer/2.svg", alt="")
                                    label ADDRESS
                                    p 106 台北市大安區<br>忠孝東路4段166號4樓
                        .flex-item
                              .flex-inner
                                    img(src="img/icon/footer/3.svg", alt="")
                                    label CONTACT US
                                    p 106 台北市大安區<br>忠孝東路4段166號4樓
                        .flex-item
                              .flex-inner
                                    img(src="img/icon/footer/1.svg", alt="")
                                    label WORKING HOURS
                                    p 週一至週五:10:00 – 19:00 週六 : 採預約制，請事先來電預約
            .footer-info.center
                  img(src="img/logo.png", alt="")
                  .flex-container
                        .flex-item
                              a(href="//www.facebook.com/Edm-Education-331365310744130" target="_blank")
                                    img(src="img/icon/social/fb.svg", alt="")
                        .flex-item
                              a(href="//www.instagram.com/edmedutw" target="_blank")
                                    img(src="img/icon/social/ig.svg", alt="")
                        .flex-item
                              a(href="//line.me/ti/p/dL6_Zbb5Ci" target="_blank")
                                    img(src="img/icon/social/line.svg", alt="")
                  hr
                  p 2018 © edm EDUCATION All rights reserved.


      //- script
      include includes/foot.pug

      script.
         var swiper = new Swiper('.swiper-container', {
           pagination: {
             el: '.swiper-pagination',
           },
         });
